<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>myfirstmap</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t7dhe0rj3c"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e80450f9d831b69d4244bdf4f17923c2&libraries=services"
    ></script>
  </head>
  <body>
    <div id="navbar">myfirstmap</div>
    <div id="infoBox">
      <div id="infoTitle">현재날짜</div>
      <div id="infoContent">2020.07.10</div>
    </div>
    <div id="search">
      <input id="search_input" placeholder="목적지를 입력해 주세요" />
      <button id="search_button">검색</button>
    </div>
    <div id="current">현재 위치</div>
    <div id="map" style="width: 100%; height: 100vh"></div>

    <script type="text/javascript" src="/data/data.js"></script>

    <script>
      var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10,
      };

      var map = new naver.maps.Map("map", mapOptions);

      var markerList = [];
      var infowindowList = [];

      // 마커를 클릭했을 때
      function getClickHandler(i) {
        return function () {
          var marker = markerList[i];
          var infowindow = infowindowList[i];

          // 마커를 클릭했을 때 infowindow 가 없으면 띄우고, 띄워져 있으면 다시 닫기
          if (infowindow.getMap()) {
            infowindow.close();
          } else {
            infowindow.open(map, marker);
          }
        };
      }

      // 지도 빈 곳을 클릭했을 때
      function clickMap(i) {
        return function () {
          var infowindow = infowindowList[i];
          infowindow.close();
        };
      }

      function placeSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
          let target = data[0];
          const lat = target.y;
          const lng = target.x;
          const latlng = new naver.maps.LatLng(lat, lng);
          marker = new naver.maps.Marker({
            map: map,
            position: latlng,
          });

          // 검색했던 이전 marker 는 지우기!
          if (search_arr.length == 0) {
            search_arr.push(marker);
          } else {
            search_arr.push(marker);
            let pre_marker = search_arr.splice(0, 1);
            pre_marker[0].setMap(null);
          }
          // 검색된 marker 로 Zoom 하는 애니메이션.
          map.setZoom(14, false);
          map.panTo(latlng);
        } else {
          alert("검색결과가 없습니다.");
        }
      }

      ////////////////////////////////////////////////////////////////

      for (var i in data) {
        var target = data[i];
        var latlng = new naver.maps.LatLng(target.lat, target.lng);
        marker = new naver.maps.Marker({
          map: map,
          position: latlng,
          icon: {
            content: "<div class=marker></div>",
            anchor: new naver.maps.Point(12, 12),
          },
        });

        var content = `<div class="infowindow_wrap">
          <div class="infowindow_title">${target.title}</div>
          <div class="infowindow_content">${target.content}</div>
          <div class="infowindow_date">${target.date}</div>
          </div>`;

        // css 에서 스타일 정의할 수 있도록 기본 스타일값 초기화
        var infowindow = new naver.maps.InfoWindow({
          content: content,
          backgroundColor: "#00ff0000",
          boderColor: "#00ff0000",
          anchorSize: new naver.maps.Size(0, 0),
        });

        markerList.push(marker);
        infowindowList.push(infowindow);
      }

      for (var i = 0, ii = markerList.length; i < ii; i++) {
        naver.maps.Event.addListener(map, "click", clickMap(i));
        naver.maps.Event.addListener(
          markerList[i],
          "click",
          getClickHandler(i)
        );
      }

      let currentUse = true; // true 일때만 marker 최초 1회 생성

      // jQuery 이용해서 현재위치 클릭했을 때의 이벤트
      $("#current").click(() => {
        if ("geolocation" in navigator) {
          navigator.geolocation.getCurrentPosition(function (position) {
            const lat = position.coords.latitude;
            const lng = position.coords.longitude;
            const latlng = new naver.maps.LatLng(lat, lng);
            if (currentUse) {
              marker = new naver.maps.Marker({
                map: map,
                position: latlng,
                icon: {
                  content: `<img class="pulse" draggable="false" unselectable="on" src="https://myfirstmap.s3.ap-northeast-2.amazonaws.com/circle.png"/>`,
                  anchor: new naver.maps.Point(11, 11),
                },
              });
              currentUse = false; // marker 를 최초 1회만 생성하고 실행하기 위해, 생성 후 변수를 false 로
            }
            map.setZoom(14, false); // 현재 위치 표시하면서 줌하기, 애니메이션은 false
            map.panTo(latlng); // 현재 위치로 이동
          });
        } else {
          alert("위치정보 사용 불가능");
        }
      });

      let ps = new kakao.maps.services.Places();
      let search_arr = [];

      $("#search_input").on("keydown", function (e) {
        // Enter 키를 쳤을 때
        if (e.keyCode === 13) {
          let content = $(this).val();
          ps.keywordSearch(content, placeSearchCB);
        }
      });

      // 검색 버튼 눌렀을 때
      $("#search_button").on("click", function (e) {
        let content = $("search_input").val();
        ps.keywordSearch(content, placeSearchCB);
      });
    </script>
  </body>
</html>
